@use "sass:meta";
@use "sass:map";
@use "@stories/styles/SbZDropColorsAndGlow.module.scss" as global;

@function mget($m, $key) {
  @if meta.function-exists(get, $module: map) {
    @return map.get($m, $key);
  }
  @return map-get($m, $key);
}

.zDropWeapons {
  &Input {
    &Field {
      border: 2px solid global.$black;
      border-radius: 6px;
      cursor: pointer;
      transition: global.$inputTransition;

      &:hover {
        @include global.glowBorder(
          mget(global.$neonBlack, c0),
          global.$neonBlack
        );
      }

      &:focus-within {
        @include global.glowBorder(mget(global.$neonRed, c0), global.$neonRed);
      }

      input {
        color: mget(global.$neonRed, c0);
      }
    }

    &Value {
      &Content {
        img {
          width: 40px;
          height: 40px;
        }
      }

      &RemoveButton {
        margin-left: auto;
        background: none;
        border: none;
        cursor: pointer;

        img {
          width: 40px;
          height: 40px;
          transition: filter 0.18s ease, opacity 0.18s ease,
            transform 0.3s ease-in-out;
        }

        &:hover {
          img {
            transform: scale(1.1);
            @include global.glowImgTight(global.$neonRed, xl);
          }
        }
      }
    }
  }

  &ClearButton {
    img {
      width: 30px;
      height: 30px;
      transition: transform 0.3s ease-in-out, filter 0.18s ease,
        opacity 0.18s ease;
      cursor: pointer;
    }

    &:hover {
      img {
        transform: scale(1.1);
        @include global.glowImgTight(global.$neonRed, sm);
      }
    }
  }

  &ExpandToggle {
    padding: 0 15px;

    &:hover {
      img {
        @include global.glowImgTight(global.$neonBlack);
      }
    }

    &Icon {
      width: 60px;
      height: 60px;
      transform: scaleX(-1);
      transition: global.$transformTransition;

      &--active {
        transform: scaleX(-1) rotate(90deg);
      }
    }
  }

  &List {
    border: none;

    &Wrapper {
      border: solid 2px mget(global.$neonBlack, c0);
      border-radius: 6px;
    }

    &Item {
      padding: 2px 8px;
      font-weight: 900;
      color: mget(global.$neonBlack, c0);
      text-transform: capitalize;
      transition: color 0.25s ease-in-out, background-color 0.25s ease-in-out,
        font-weight 0.25s ease-in-out;

      div {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
      }

      img {
        width: 80px;
        height: 80px;
        transition: filter 0.18s ease, opacity 0.18s ease,
          transform 0.3s ease-in-out, margin-right 0.25s ease-in-out;
      }

      &:focus {
        font-weight: 900;
        background-color: mget(global.$neonBlack, c0);
        @include global.glowImgTight(global.$neonBlack, xl);

        span {
          color: mget(global.$neonRed, c0);
        }

        img {
          margin-right: 10px;
          @include global.glowImgTight(global.$neonRed, xl);
        }
      }

      &:hover {
        background-color: mget(global.$neonRed, c1);

        span {
          color: mget(global.$neonBlack, c0);
        }

        img {
          transform: scale(1.1);
          @include global.glowImgTight(global.$neonBlack, xl);
        }
      }

      &Selected {
        font-weight: 900;
        color: mget(global.$neonBlack, c0);

        img {
          @include global.glowImgTight(global.$neonRed, xl);
        }
      }
    }
  }
}
