.zDrop {
  &StorybookWrapper {
    display: flex;
    height: 100vh;
    padding: 10px;

    @media (max-width: 390px) {
      padding: 5px;
    }
  }

  &Content {
    display: flex;

    @media (max-width: 999px) {
      flex-direction: column;
    }

    & > div:last-child {
      margin-left: 20px;
    }

    @media (max-width: 999px) {
      display: block;

      & > div:last-child {
        margin: 20px 0 0 0;
      }
    }
  }

  &Container {
    position: relative;
    z-index: 2;
    width: 100%;
    min-width: 316px;
    max-width: 500px;

    @media (max-width: 600px) {
      min-width: 100%;
      max-width: 100%;
    }
  }
}
