@use "sass:meta";
@use "sass:map";
@use "@stories/styles/SbZDropColorsAndGlow.module.scss" as global;

@function mget($m, $key) {
  @if meta.function-exists(get, $module: map) {
    @return map.get($m, $key);
  }
  @return map-get($m, $key);
}

.zDropHookForm {
  &Container {
    width: 100%;
    max-width: 500px;
    min-width: 300px;

    @media (max-width: 600px) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &List {
    z-index: 3;

    &Item {
      background-color: var(--zd-color-background-transp);
    }
  }

  &SaveButton {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0 0 auto;
    height: 33px;
    padding: 4px 12px;
    color: var(--zd-color-primary);
    border: var(--zd-border);
    border-radius: var(--zd-radius);
    transition: border-color 0.15s ease-in-out;

    &:hover {
      border-color: var(--zd-color-secondary);
      cursor: pointer;
    }
  }

  &ValuePreview {
    height: fit-content;
    margin-top: 10px;
    padding: 10px;
    color: var(--zd-color-primary);
    border: var(--zd-border);
    border-radius: var(--zd-radius);
  }

  &SelectionPreview {
    margin-top: 20px;
    max-width: 300px;

    div {
      width: 100%;
      min-width: 100%;
    }
  }

  &Submitted {
    transform: scale(1.1);
    @include global.glowImgTight(global.$neonRed, xl);

    &Message {
      color: mget(global.$neonRed, c0);
      font-weight: 700;
    }
  }

  .zd__no-data {
    padding: 0;
  }

  &NoDataContent {
    padding: 10px;
    background-color: var(--zd-color-background-transp);
  }
}
