/* ZDrop.module.scss — „override-friendly” */

:global {
  :root {
    --zd-color-primary: #676767;
    --zd-color-primary-transp: #67676775;
    --zd-color-secondary: #0079bd;
    --zd-color-secondary-transp: #0079bd50;
    --zd-color-disabled: #ddd;
    --zd-color-error: #ff4d4f;
    --zd-color-error-transp: #ffe6e6;
    --zd-color-background-transp: #ffffffdd;

    --zd-font-family: Helvetica, Arial, sans-serif;
    --zd-font-size: 14px;

    --zd-radius: 3px;
    --zd-border: 1px solid var(--zd-color-primary);
    --zd-focus-ring: 0 0 0 0.2rem var(--zd-color-secondary-transp);
  }

  :where(.zd__container) * {
    padding: 0;
    margin: 0;
  }

  .zd__container * {
    box-sizing: border-box;
  }

  .zd__container {
    position: relative;
  }

  :where(.zd__container) {
    width: fit-content;
    max-width: 500px;
    min-width: 200px;
    height: fit-content;
    max-height: fit-content;
    font-family: var(--zd-font-family);
    font-size: var(--zd-font-size);
  }

  .zd__label {
    display: block;
  }

  :where(.zd__label) {
    margin: 0 0 5px 10px;
    color: var(--zd-color-primary);
  }

  .zd__input-field {
    position: relative;
  }

  :where(.zd__input-field) {
    display: flex;
    min-height: 35px;
    border: var(--zd-border);
    border-radius: var(--zd-radius);
    padding-left: 10px;
    overflow-y: auto;
    transition: border 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  .zd__input-field > input {
    cursor: pointer;
  }

  :where(.zd__input-field):hover {
    border-color: var(--zd-color-secondary);
  }

  :where(.zd__input-field):focus-within {
    border-color: var(--zd-color-secondary);
    box-shadow: var(--zd-focus-ring);
  }

  .zd__input-field:focus-within > input {
    cursor: text;
  }

  :where(.zd__input-field--multiple) {
    padding-left: 4px;
  }

  :where(.zd__input-field--disabled) {
    background: var(--zd-color-disabled);
    cursor: default;
    pointer-events: none;
  }

  :where(.zd__input) {
    width: 100%;
    min-height: 100%;
    padding-right: 10px;
    border: none;
    border-radius: var(--zd-radius);
    color: var(--zd-color-primary);
    background: transparent;
  }

  :where(.zd__input):focus {
    outline: none;
  }

  :where(.zd__input):disabled {
    background: var(--zd-color-disabled);
  }

  :where(.zd__input)::placeholder {
    color: var(--zd-color-primary-transp);
  }

  :where(.zd__input-single) {
    display: flex;
    align-items: center;
    max-width: 100%;
    min-height: 35px;
    white-space: nowrap;
    overflow: hidden;
    height: auto;
  }

  :where(.zd__input-single-value) {
    width: fit-content;
    height: 100%;
    border: var(--zd-border);
    border-radius: var(--zd-radius);
  }

  :where(.zd__input-single-value-renderer) {
    display: flex;
    align-items: center;
  }

  :where(.zd__input-single-search) {
    display: flex;
    align-items: center;
    flex: 1;
    max-width: 100%;
    min-height: 35px;
    line-height: 35px;
    overflow: hidden;
    white-space: nowrap;
    color: var(--zd-color-primary);
    border: none;
    background: transparent;
  }

  :where(.zd__input-single-search):focus {
    outline: none;
  }

  :where(.zd__input-multiple) {
    display: flex;
    flex-wrap: wrap;
    max-width: calc(100% - 47px);
    align-items: center;
    margin-right: 5px;
    list-style: none;
    height: auto;
  }

  :where(.zd__input-multiple-value) {
    display: flex;
    align-items: center;
    width: fit-content;
    min-width: fit-content;
    margin: 2px;
    padding: 3px 6px;
    color: var(--zd-color-primary);
    border-radius: var(--zd-radius);
    background: var(--zd-color-disabled);
    cursor: pointer;
  }

  :where(.zd__input-multiple-value) span {
    display: flex;
    width: fit-content;
    min-width: fit-content;
    white-space: nowrap;
  }

  :where(.zd__input-multiple-value-remove-btn) {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10px;
    min-width: 10px;
    margin-left: 3px;
    background: transparent;
    border: none;
    cursor: pointer;
  }

  :where(.zd__input-multiple-value-remove-btn):focus {
    outline: none;
  }

  :where(.zd__input-multiple-value-remove-btn-icon) {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    width: 10px;
    height: 10px;
  }

  :where(.zd__input-multiple-value-remove-btn-icon)::before,
  :where(.zd__input-multiple-value-remove-btn-icon)::after {
    position: absolute;
    content: "";
    height: 10px;
    width: 2px;
    background-color: var(--zd-color-primary);
  }

  :where(.zd__input-multiple-value-remove-btn-icon)::before {
    transform: rotate(45deg);
  }
  :where(.zd__input-multiple-value-remove-btn-icon)::after {
    transform: rotate(-45deg);
  }

  :where(.zd__input-multiple-value-remove-btn):hover
    > .zd__input-multiple-value-remove-btn-icon::before,
  :where(.zd__input-multiple-value-remove-btn):hover
    > .zd__input-multiple-value-remove-btn-icon::after,
  :where(.zd__input-multiple-value-remove-btn):focus
    > .zd__input-multiple-value-remove-btn-icon::after,
  :where(.zd__input-multiple-value-remove-btn):focus
    > .zd__input-multiple-value-remove-btn-icon::before {
    background-color: var(--zd-color-secondary);
  }

  :where(.zd__input-multiple-search-wrapper) {
    min-width: 100%;
    flex: auto;
  }

  :where(.zd__input-multiple-search) {
    min-width: 40px;
    width: 100%;
    padding: 3px;
    color: var(--zd-color-primary);
    border: none;
    background: transparent;
  }

  :where(.zd__input-multiple-search):focus {
    outline: none;
  }

  :where(.zd__input-multiple-placeholder) {
    padding-left: 6px;
  }

  .inputClearBtnWrapper {
    position: relative;
  }

  :where(.zd__input-clear-btn-wrapper) {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  :where(.zd__input-clear-btn) {
    max-height: fit-content;
    background: none;
    border: none;
  }

  :where(.zd__input-clear-btn-icon) {
    display: block;
    position: relative;
    min-width: 14px;
    max-width: 14px;
    height: 15px;
    cursor: pointer;
  }

  :where(.zd__input-clear-btn-icon)::before,
  :where(.zd__input-clear-btn-icon)::after {
    position: absolute;
    left: 6px;
    content: "";
    height: 15px;
    width: 2px;
    background: var(--zd-color-primary);
  }

  :where(.zd__input-clear-btn-icon)::before {
    transform: rotate(45deg);
  }

  :where(.zd__input-clear-btn-icon)::after {
    transform: rotate(-45deg);
  }

  :where(.zd__input-clear-btn-icon):hover::before,
  :where(.zd__input-clear-btn-icon):hover::after {
    background: var(--zd-color-secondary);
  }

  .zd__expand-toggle {
    display: flex;
    min-width: fit-content;
    align-items: center;
    padding: 0 10px;
  }

  .zd__expand-toggle-icon {
    transform: rotate(135deg);
    border: solid var(--zd-color-primary);
    border-width: 0 2px 2px 0;
    padding: 4px;
    cursor: pointer;
    transition: 0.3s;
  }

  .zd__expand-toggle-icon--active {
    transform: translateY(-30%) rotate(45deg);
    color: var(--zd-color-secondary);
  }

  :where(.zd__expand-toggle-icon):hover {
    border-color: var(--zd-color-secondary);
  }

  .zd__list {
    position: absolute;
    z-index: 2;
    width: 100%;
    max-height: fit-content;
    overflow: auto;
  }

  .zd__list-wrapper {
    z-index: 2;
    position: absolute;
    min-width: 100%;
    margin-top: 5px;
    overflow: auto;
  }

  :where(.zd__list-wrapper) {
    border-radius: var(--zd-radius);
    border: var(--zd-border);
  }

  .zd__list-auto-height-wrapper {
    width: 100%;
    height: auto;
    overflow: auto;
    margin-top: 5px;
  }

  :where(.zd__list-auto-height-wrapper) {
    border-radius: var(--zd-radius);
    border: var(--zd-border);
  }

  .zd__list--auto-height-enabled,
  .zd__list--reference-wrapper-enabled {
    position: relative;
  }

  :where(.zd__option, .zd__no-data) {
    padding: 10px 8px;
    color: var(--zd-color-primary);
    list-style: none;
  }

  :where(.zd__option) {
    cursor: pointer;
  }

  :where(.zd__option):focus {
    outline: none;
    background: var(--zd-color-secondary-transp);
  }

  :where(.zd__option):hover {
    font-weight: 700;
  }

  :where(.zd__option--active) {
    color: var(--zd-color-secondary);
  }

  :where(.zd__error-message) {
    margin-top: 5px;
    padding: 8px;
    color: var(--zd-color-error);
    border: 1px solid var(--zd-color-error);
    border-radius: var(--zd-radius);
    background: var(--zd-color-error-transp);
  }
}
