@use "@stories/styles/SbZDropColorsAndGlow.module.scss" as global;

.sbNotFound {
  &Wrapper {
    width: 100%;
    min-width: 312px;
    max-width: 500px;
    padding: 20px;

    @media (max-width: 600px) {
      min-width: 100%;
      max-width: 100%;
    }
  }

  &Board {
    width: 100%;
    @include global.glowImgTight(global.$neonRed, xl);
  }
}
