.sbZDropVisualComponents {
  @media (max-width: 999px) {
    display: flex;
    align-items: center;
    min-width: 100%;
    margin-top: 10px;
  }

  @media (max-width: 600px) {
    display: block;
    margin-top: 20px;
  }
}
